.page {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.splash {
  background: linear-gradient(115.2deg, #146ADA 48.1%, #2684FE 48.11%);
  width: 600px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__svg {
    width: 120%;
    margin-right: 164px;
  }
}

.container {
  min-width: 600px;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 16px 64px;
}

header {
  grid-column: span 12;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  grid-column: span 12;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  grid-column: span 12;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}